<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchBar" class="tracking-in-expand">Reservas</ion-title>
        <ion-searchbar [(ngModel)]="search" placeholder="Buscar" *ngIf="showSearchBar" class="search-input" animated="true" autocomplete="on" autocorrect="on">
        </ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-thumbnail item-left>
                <img src="https://i.ytimg.com/vi/7ZeFDe44Ddo/maxresdefault.jpg">
            </ion-thumbnail>
            <h2>Carroñero uououooo!</h2>
            <h3>Springfield del 22-07-14 al 28-07-14</h3>
            <p>Reservado por Marge Simpson</p>
        </ion-item>
        <ion-item>
            <ion-thumbnail item-left>
                <img src="https://i.ytimg.com/vi/7ZeFDe44Ddo/maxresdefault.jpg">
            </ion-thumbnail>
            <h2>Carroñero uououooo!</h2>
            <h3>Springfield del 22-07-14 al 28-07-14</h3>
            <p>Reservado por Marge Simpson</p>
        </ion-item>
    </ion-list>
</ion-content>