<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchBar" class="tracking-in-expand">Finanzas</ion-title>
        <ion-searchbar [(ngModel)]="search" placeholder="Buscar" *ngIf="showSearchBar" class="search-input" animated="true" autocomplete="on" autocorrect="on">
        </ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <div class="wrap" *ngIf="payment != undefined && payment.length == 0">
            <div class="content-img">
                <img src="./assets/not_data.svg" />
            </div>
            <div class="text-wrap">
                <span class="title">
                No hay historial de pagos
          </span>
                <span class="subtitle">
                ¡Aún no te han pagado!
          </span>
            </div>
        </div>
        <ion-list *ngIf="payment != undefined && payment.length > 0">
            <ion-list-header>
                Movimientos
            </ion-list-header>
            <ion-item>
                <ion-icon name="cash" item-left></ion-icon>
                <h2>Próximo pago</h2>
                <span item-right *ngIf="payment[0].proximo_pago">{{payment[0].proximo_pago | currency:'USD':true:'1.0-2' }}</span>
                <span item-right *ngIf="!payment[0].proximo_pago">{{payment[0].pago_admin | currency:'USD':true:'1.0-2' }}</span>
            </ion-item>
            <ion-item *ngFor="let pay of payment" [hidden]="pay.pago == null">
                <ion-icon name="cash" item-left></ion-icon>
                <h2>Pago mensual</h2>
                <p>{{pay.fecha_registro | date: 'dd/MM/yyyy'}}</p>
                <span item-right>{{pay.pago | currency:'USD':true:'1.0-2'}}</span>
            </ion-item>
        </ion-list>
    </ion-list>
</ion-content>
