<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchBar" class="tracking-in-expand">Mis reservas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="content_back">
    <div class="my-reserve" *ngFor="let vehicle of vehicles">
        <div class="my-reserve__header">
            <div class="text">
                <span class="name">{{vehicle.marca_nombre}} {{vehicle.auto_nombre}}</span>
                <span class="model">{{vehicle.modelo}}</span>
            </div>
            <div class="state">
                <span>Confirmado</span>
            </div>
        </div>
        <div class="my-reserve__content">
            <h2 class="title">lun. 18 ene - mar. 19 ene 2017</h2>
            <div class="img">
                <img src={{vehicle.foto_url}} alt="">
            </div>
            <div class="detail">
                <div class="detail__title">
                    <span class="subtitle">3 puertas | 4 puestos</span>
                </div>

                <ion-item>
                    <ion-icon name="pin" item-left large></ion-icon>
                    <span>{{vehicle.sucursal}}</span>
                    <p>{{ vehicle.sucursal_municipio}}</p>
                </ion-item>

                <ion-item>
                    <ion-icon name="speedometer" item-left large></ion-icon>
                    <span>Combustible: {{vehicle.tipo_combustible}}</span>
                    <p>Transmición: {{vehicle.tipo_transmicion}}</p>
                </ion-item>


            </div>
            <ion-item>
                <button ion-button icon-left clear item-left >
              <ion-icon name="navigate"></ion-icon> Total
                </button>
                <span item-left>CO${{vehicle.precio_dia}}</span>
            </ion-item>
        </div>


    </div>
    <not-data [hidden]="not_data"></not-data>
</ion-content>