<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchBar" class="tracking-in-expand">Mis reservas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="content_back">
    <div class="my-reserve" *ngFor="let reserve of reserves" [hidden]="reserves == undefined || reserves.length == 0">
        <div class="my-reserve__header">
            <div class="text">
                <span class="name">{{reserve.marca_nombre}} {{reserve.auto_nombre}}</span>
                <span class="model">{{reserve.modelo}}</span>
            </div>
            <div class="state">
                <span>{{reserve.estado}}</span>
            </div>
        </div>
        <div class="my-reserve__content">
            <h2 class="title">{{reserve.fecha_inicia_proceso | date: 'dd/MM/yyyy'}} - {{reserve.fecha_final_proceso | date: 'dd/MM/yyyy'}}</h2>
            <div class="img">
                <img src={{reserve.foto}} alt="">
            </div>
            <div class="detail">
                <div class="detail__title">
                    <span class="subtitle">{{reserve.puertas}} puertas | {{reserve.puestos}} puestos</span>
                </div>

                <ion-item>
                    <ion-icon name="pin" item-left large></ion-icon>
                    <span>{{reserve.sucursal}}</span>
                    <p>{{ reserve.sucursal_municipio}}</p>
                </ion-item>

                <ion-item>
                    <ion-icon name="speedometer" item-left large></ion-icon>
                    <span>Combustible: {{reserve.tipo_combustible}}</span>
                    <p>Transmición: {{reserve.tipo_transmicion}}</p>
                </ion-item>


            </div>
            <ion-item>
                <button ion-button icon-left clear item-left >
              <ion-icon name="navigate"></ion-icon> Total
                </button>
                <span item-left>{{reserve.precio_dia | currency:'USD':true:'1.0-2'}}</span>
            </ion-item>
        </div>


    </div>
    <not-data [hidden]="reserves == undefined || reserves.length > 0"></not-data>
</ion-content>