page-signup {
    .signup-bkg {
        background: linear-gradient(-45deg, rgba(178, 49, 40, 0.8), rgba(178, 49, 40, 0.6)), url(../../../assets/img/Driving.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: 0 center;
    }
    .signup-logo {
        background-color: transparent;
        width: 95%;
        margin: 0 auto;
        text-align: center;
        & h2 {
            color: white;
            font-size: 2em;
            margin-top: -25%;
        }
        & img {
            opacity: .7;
            filter: inherit;
        }
        & * {
            border: none!important;
        }
    }
    .signup-items {
        color: white;
        & input::-webkit-input-placeholder {
            color: white;
        }
    }
    .signup-align--right {
        text-align: right;
    }
}