<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchBar" class="tracking-in-expand">Vehículos</ion-title>
        <ion-searchbar [(ngModel)]="search" placeholder="Buscar" *ngIf="showSearchBar" class="search-input" animated="true" autocomplete="on" autocorrect="on">
        </ion-searchbar>
        <ion-buttons end>
            <button ion-button color="light" (click)="btnSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button color="light" (click)="test('Reservar')">
                <ion-icon name="ios-car"></ion-icon>
            </button>
            <button ion-button color="light" (click)="test('Profile')">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <vehicle-item *ngFor="let vehicle of vehicles" (click)="goToDetail(vehicle)"
    [alquilado]=vehicle.alquilado 
    [foto_url]=vehicle.foto_url
    [precio_dia]=vehicle.precio_dia 
    [sucursal]=vehicle.sucursal 
    [sucursal_municipio]= vehicle.sucursal_municipio
    [tipo_transmicion]= vehicle.tipo_transmicion
    [tipo_combustible]=vehicle.tipo_combustible 
    [modelo]=vehicle.modelo
    [auto_nombre]= vehicle.auto_nombre
    [puertas]= vehicle.puertas
    [favorito]= vehicle.favorito
    [puestos]= vehicle.puestos
    [vehiculo_id]=vehicle.vehiculo_id>
    </vehicle-item>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>