<ion-card>
    <ion-item class="header-card">
        <h2>Cañonero</h2>
        <p> SUV | Camioneta</p>
        <ion-icon name="alert" color="orange" item-right></ion-icon>
        <ion-note item-right class="rejected">
            Rechazado
        </ion-note>
        <ion-note item-right class="active" hidden="true">
            Aceptada
        </ion-note>
        <ion-note item-right class="pending" hidden="true">
            Pendiente
        </ion-note>
    </ion-item>
    <ion-item class="contain-img">
        <img class="car-img" src="https://i.ytimg.com/vi/7ZeFDe44Ddo/maxresdefault.jpg">
        <ion-item class="item-user">
            <ion-avatar item-left>
                <img src="http://www.iheartradio.ca/image/policy:1.2394734:1486824801/.jpg?f=default&$p$f=53ee086&w=663&$w=4b85173">
            </ion-avatar>
            <h2>Auli'i Cravalho</h2>
            <p>Reservado el 22/05/2017
                <p>
        </ion-item>
    </ion-item>
    <ion-card-content>
        <ion-item class="item-date">
            <ion-list-header>
                Entrega en
            </ion-list-header>
            <ion-list>
                <ion-item>
                    <ion-icon name="pin" item-left></ion-icon>
                    <h2>Autocar Super Max</h2>
                    <h3>Florencia</h3>
                    <p>Desde el 22/05/2017</p>
                    <p>Hasta el 22/05/2017</p>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item class="item-date">
            <ion-list-header>
                Descuentos
                <ion-icon name="add-circle" item-right></ion-icon>
            </ion-list-header>
            <ion-list>
                <ion-item>
                    <h2>Por que me cae bien</h2>
                    <ion-note item-right>
                        10%
                    </ion-note>
                </ion-item>
                <ion-item>
                    <h2>Por que está buena</h2>
                    <ion-note item-right>
                        80%
                    </ion-note>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item class="item-pay">
            <p item-left>
                Total: $300000
            </p>
            <ion-icon name="paper" item-right></ion-icon>
        </ion-item>
    </ion-card-content>
    <ion-list>
        <ion-item>
            <ion-avatar item-left>
                <img src="http://vignette2.wikia.nocookie.net/doblaje/images/f/f0/DPM-Dopinder.png/revision/20160519203539?path-prefix=es">
            </ion-avatar>
            <h2>Dopinder</h2>
            <p>Conductor</p>
        </ion-item>
    </ion-list>
</ion-card>