page-login {

  .bkg-login {
  background: linear-gradient(-45deg, rgba(178, 49, 40, 0.6), rgba(178, 49, 40, 0.2)), url(../../../assets/img/login.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 center; 
}

.btn-login{
  text-transform: inherit;
    width: 80%;
    border-radius: 0;
}
.top-10pc{
  margin-top: 5%;
}
.text-center{
  text-align: center;
}
.logo-login{
  background-color: transparent;
  width: 75%; 
  margin: 0 auto; 
  text-align: center;
  & h2{
    color: white;
    font-size: 2em;
    margin-top: -25%;
  }
  & img {
    opacity: .6;
    fill: red!important;
    stroke: red!important;
  }
  & *{
    border: none!important;
  }
}

.link-a{
  text-decoration: none;
  color: whitesmoke;
}
.item-login{
  color: whitesmoke;
  margin: 1px 0; 
  & input::-webkit-input-placeholder {
    color: whitesmoke;
  }
} 
.top-1em{
  margin-top: -1em;
}
.font-13em{
  font-size: 1.3em;
}
.line-text {
    display: table;
    white-space: nowrap;
    width: 100%;
    top: 1em;
  font-size: 1.3em;
    color: whitesmoke;
    &:before, &:after {
      border-top: 1px solid white;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 38%;
    }
    &:before { right: .5%; left: 5%; }
    &:after { left: -5%; right: 5% }
}
}
