<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchBar" class="tracking-in-expand">Favoritos</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="content_back">
    <div [hidden]="vehicles == undefined || vehicles.length == 0" class="my-reserve" *ngFor="let reserve of vehicles; let i = index">
        <div class="my-reserve__header">
            <div class="text">
                <span class="name">{{reserve.marca_nombre}} {{reserve.auto_nombre}}</span>
                <span class="model">{{reserve.modelo}}</span>
            </div>
            <ion-fab class="favorite">
                <button ion-fab (click)="removeFavorite(reserve, i)">
                    <ion-icon name="star"></ion-icon>
                </button>
            </ion-fab>
        </div>
        <div class="my-reserve__content">
            <div class="img">
                <img src={{reserve.foto_url}} alt="">
            </div>
            <div class="detail">
                <div class="detail__title">
                    <span class="subtitle">{{reserve.puertas}} puertas | {{reserve.puestos}} puestos</span>
                </div>
                <ion-item>
                    <ion-icon name="pin" item-left large></ion-icon>
                    <span>{{reserve.sucursal}}</span>
                    <p>{{reserve.sucursal_municipio}}</p>
                </ion-item>
                <ion-item>
                    <ion-icon name="speedometer" item-left large></ion-icon>
                    <span>Combustible: {{reserve.tipo_combustible}}</span>
                    <p>Transmición: {{reserve.tipo_transmicion}}</p>
                </ion-item>
            </div>
            <ion-item>
                <button ion-button icon-left clear item-left>
                    Valor dia
                </button>
                <span item-left>{{reserve.precio_dia | currency:'USD':true:'1.0-2'}}</span>
                <button ion-button icon-left clear item-right (click)="goToDetail(reserve)">
                    <ion-icon name="navigate"></ion-icon> Ver más
                </button>
            </ion-item>
        </div>
    </div>
      <ion-item  [hidden]="vehicles == undefined || vehicles.length > 0" class="logo-login">
                <img src="assets/img/logo.svg" />
                <h2>No tienes favoritos</h2>
            </ion-item>
</ion-content>

linear-gradient(-45deg, rgba(178, 49, 40, 0.8), rgba(178, 49, 40, 0.6))