<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Perfil</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <section *ngIf="currentUser">
        <div>
            <div class="user-card">
                <h2>{{currentUser?.name}}</h2>
                <p>{{currentUser?.email}}</p>
                <div class="user-img">
                    <img src="{{currentUser?.photo}}" />
                    <ion-icon name="female" *ngIf="currentUser?.genero == 'Femenino'"></ion-icon>
                    <ion-icon name="male" *ngIf="currentUser?.genero == 'Masculino'"></ion-icon>
                    <!--<img [src]="currentUser?.image" />-->
                </div>
            </div>
            <div class="user-roles">
                <span>
                    <ion-icon name="logo-android"></ion-icon>
                </span>
            </div>
        </div>
        <ion-row no-padding>
            <ion-col [hidden]="!currentUser.celular">
                <button ion-button clear icon-left>
                    <ion-icon name='call'></ion-icon>
                    {{currentUser.celular}}
                </button>
            </ion-col>
            <ion-col text-right>
                <button ion-button clear icon-left>
                    <ion-icon name='card'></ion-icon>
                    {{currentUser.num_tipo_identificacion}}
                </button>
            </ion-col>
        </ion-row>
        <ion-list>
            <ion-item>
                <ion-icon name="calendar" item-left></ion-icon>
                Fecha de registro: {{currentUser.fecha_registro | date: 'dd/MM/yyyy'}}
            </ion-item>
            <ion-item [hidden]="!currentUser.fecha_nacimiento">
                <ion-icon name="calendar" item-left></ion-icon>
                Fecha de nacimiento: {{currentUser.fecha_nacimiento | date: 'dd/MM/yyyy'}}
            </ion-item>
        </ion-list>
    </section>
</ion-content>
