page-reserve {
    .mrg-title {
        margin: 2em auto;
    }
    ion-label {
        font-weight: bold;
    }
    .item-input .label-md,
    .item-select .label-md,
    .item-datetime .label-md {
        color: #000;
    }
}