<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchBar" class="tracking-in-expand">Reservar</ion-title>
        <ion-searchbar [(ngModel)]="search" placeholder="Buscar" *ngIf="showSearchBar" class="search-input" animated="true" autocomplete="on" autocorrect="on">
        </ion-searchbar>
        <ion-buttons end>
            <button ion-button color="light" (click)="btnSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button color="light" (click)="goToVehicleList()">
                <ion-icon name="ios-car"></ion-icon>
            </button>
            <button ion-button color="light" (click)="goToProfile()">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="vehicle">
        <h3>¿Planeas un viaje?</h3>
        <h4>Permítenos llevarte a tu destino</h4>
        <ion-item>
            <ion-label color="primary" fixed>Viajo desde</ion-label>
            <ion-input type="text" [readonly]="true" [value]="vehicle.sucursal + ' | ' + vehicle.sucursal_municipio"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Voy hacia el mismo sitio</ion-label>
            <ion-toggle [(ngModel)]="sameSite"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Viajo hacia</ion-label>
            <ion-select cancelText="Nah" okText="Ok!" [disabled]="sameSite" [(ngModel)]="branch_destiny">
                <ion-option *ngFor="let branch of branchs; let i = index; trackBy: trackByFn" value="{{branch.id}}" [selected]="i==0">{{branch.name}} | {{branch.municipio}}</ion-option>
            </ion-select>
        </ion-item>
    </div>
    <div>
        <ion-item>
            <ion-label color="primary">Viajo el</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="dateIn" [min]="limitInitDate" monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' doneText="Ok" cancelText="Cancelar" (ionChange)="verifyDates(dateIn)"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Llego el</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="dateOut" [min]="limitInitDate" smonthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' doneText="Ok" cancelText="Cancelar"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label color="primary">Necesito un conductor</ion-label>
            <ion-toggle [(ngModel)]="driver"></ion-toggle>
        </ion-item>
    </div>
    <button ion-button full (click)="goConfirm(dateIn)">Rentar mi carro ahora</button>
</ion-content>