page-user-list {
    ion-card {
        position: relative;
        padding-top: 1em;
    }
    .no-display {
        display: none;
    }
    .select-btn {
        width: 90%;
        padding: 0;
        padding-right: 5px;
        max-width: 100%;
    }
    .pad-top-1em {
        padding-top: 1.2em;
    }
    .brd-lft {
        border-left: solid 1px lightgray;
    }
    .state-user {
        position: absolute;
        z-index: 99;
        right: 2em;
        top: .5em;
        & .user-active{
            color: green; 
        }
    }
    .align-middle{
        vertical-align: middle;
    }
}