<ion-header>
    <ion-navbar color="red">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchBar" class="tracking-in-expand">Usuarios</ion-title>
        <ion-searchbar [(ngModel)]="search" placeholder="Buscar" *ngIf="showSearchBar" class="search-input" animated="true" autocomplete="on" autocorrect="on">
        </ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Filtrando por </ion-label>
            <ion-select cancelText="Cancelar" okText="Aceptar">
                <ion-option value="all" selected>Todos</ion-option>
                <ion-option value="emp">Empleado</ion-option>
                <ion-option value="cl">Cliente</ion-option>
                <ion-option value="pr">Proveedor</ion-option>
            </ion-select>
        </ion-item>
        <ion-card>
            <ion-item>
                <ion-avatar item-left>
                    <img src="https://pbs.twimg.com/profile_images/836783617573543936/_qCf0YU7.jpg">
                </ion-avatar>
                <h2>Auli'i Cravalho</h2>
                <p>Cliente</p>
            </ion-item>
            <ion-row>
                <ion-col icon-left clear small class="col-80">
                    <ion-item icon-left clear small>
                        <ion-label class="no-display">Cliente</ion-label>
                        <ion-select cancelText="Cancelar" okText="Aceptar" class="select-btn">
                            <ion-option value="" disabled selected>Cambiar rol</ion-option>
                            <ion-option value="cli">Cliente</ion-option>
                            <ion-option value="pro">Proveedor</ion-option>
                            <ion-option value="emp">Empleado</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col center text-center class="col-20 pad-top-1em brd-lft">
                    <ion-note>
                        Inhabilitar
                    </ion-note>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
</ion-content>